<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
        </encoder>
    </appender>
    <logger name="com.negligentlogic.demo" level="INFO" additivity="false">
        <appender-ref ref="consoleAppender" />
    </logger>
    <root level="ERROR">
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>